.home-top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;

    .home-search-container {
        display: flex;
        align-items: center;
        width: 87%;

        .home-logo {
            height: 13vh;
            margin-right: 3%;
        }

        .search-wrapper {
            position: relative;
            flex: 1; // take the remaining width

            display: flex;

            .home-search-input {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px 0 0 5px;
                outline: none;
                background-color: rgb(245 245 245);
            }

            .home-search-button {
                background-color: #00274d;
                color: #ffffff;
                border: none;
                padding: 10px 20px;
                border-radius: 0 5px 5px 0;
                cursor: pointer;

                i {
                    font-size: 14px;
                }
            }

            .suggestion-list {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background: rgb(245 245 245);
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
                z-index: 10;
                margin: 0;
                padding: 8px;
                list-style: none;
                max-height: 200px;
                overflow-y: auto;

                li {
                    padding: 6px 12px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    img {
                        max-width: 20px;
                        max-height: 20px;
                        margin-right: 8px;
                    }

                    &:hover {
                        background-color: #eee;
                    }
                }
            }
        }
    }

    .home-user-actions {
        display: flex;
        gap: 25px;

        .home-action-item {
            font-size: 17px;
            color: #00274d;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.home-bottom-header {
    background-color: #00274d;
    color: #ffffff;
    padding: 10px 0;
    position: relative;

    .home-menu-icon {
        display: none;
        font-size: 25px;
        color: #ffffff;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .home-nav-links {
        display: flex;
        justify-content: center;
        gap: 30px;
        list-style: none;
        transition: max-height 0.3s ease-in-out;
        margin-bottom: 3px;

        li {
            font-size: 17px;
            cursor: pointer;
            position: relative;

            &:hover {
                text-decoration: underline;
            }

            i {
                font-size: 18px;
                margin-left: 5px;
            }
        }
    }
}


/* Tablets (Max Width: 1200px) */
@media (max-width: 1200px) {
    .home-top-header {
        flex-direction: column;
        align-items: center;
        padding: 10px;

        .home-search-container {
            width: 90%;

            .home-logo {
                height: 10vh;
            }

            .home-search-input {
                font-size: 14px;
            }

            .home-search-button {
                padding: 8px 15px;
            }
        }

        .home-user-actions {
            gap: 15px;
            margin-top: 1px;

            .home-action-item {
                font-size: 15px;
            }
        }
    }

    .home-bottom-header .home-nav-links {
        gap: 15px;

        li {
            font-size: 15px;
        }
    }
}

@media (max-width: 850px) {
    .home-bottom-header {
        height: 7vh;
    }
}

/* Mobile Devices (Max Width: 600px) */
@media (max-width: 600px) {
    .home-top-header {
        flex-direction: column;
        align-items: center;
        padding: 10px;

        .home-search-container {
            flex-direction: column;
            width: 100%;

            .home-logo {
                height: 8vh;
            }

            .home-search-input {
                width: 85%;
                margin-bottom: 5px;
            }

            .home-search-button {
                width: 85%;
            }
        }

        .home-user-actions {
            flex-direction: row;
            justify-content: center;
            gap: 10px;

            .home-action-item {
                font-size: 14px;
            }
        }
    }

    .home-bottom-header {
        padding: 10px 20px;

        .home-menu-icon {
            display: block;
        }

        .home-nav-links {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            position: absolute;
            top: 50px;
            right: 0;
            background-color: #00274d;
            width: 100%;
            max-height: 0;
            overflow: hidden;
            z-index: 9;
        }

        .home-nav-links.active {
            max-height: 450px;
            z-index: 9;
        }

        .home-nav-links li {
            font-size: 16px;
            padding: 10px 0;
            width: 100%;
            text-align: center;
        }
    }
}