/* Container and heading styles */
.sold-product-container{
    padding: 0 20px;
}
.most-sold-product-container {
    font-family: Arial, sans-serif;
}

.products-heading {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

/* Grid layout for products */
.home-products-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
    align-items: start;
}

/* Product card styles */
.product-card {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Image styles */
.product-image {
    width: 100%;
    height: 320px;
    object-fit: contain;
    margin-bottom: 16px;
}

/* Product info */
.product-info {
    margin-bottom: 0px;
    position: relative;
    .add-to-cart-btn {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-20%);
        background-color: white;
        color: #EC2329;
        border: 1px solid #EC2329;
        border-radius: 25%;
        width: 60px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, transform 0.3s;
    
        &:hover {
            background-color: #EC2329;
            color: white;
            transform: scale(1.1);
        }
        .cart-icon {
            font-size: 18px;
        }
    }
}

.product-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.product-description {
    font-size: 18px;
    color: #555;
    margin-bottom: 8px;
}

.product-price {
    font-size: 20px;
    color: #EC2329;
    font-weight: bold;
    margin-bottom: 0px;
}

.product-delivery {
    font-size: 14px;
    color: green;
    margin-bottom: 5px;
}

.free-delivery {
    font-weight: bold;
}

/* Rating styles */
.product-rating {
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
    /* margin-top: 10px; */
    width: 70px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    padding-right: 8px;
    background-color: #f5f5f5;
}

/* Button styles */


/* Cart icon */